<div class="mat-elevation-z8">
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
        <!-- Id Column -->
        <ng-container matColumnDef="courseId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course ID</th>
            <td mat-cell *matCellDef="let row">{{row.courseId}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Name</th>
            <td mat-cell *matCellDef="let row">{{row.courseName}}</td>
        </ng-container>

        <!-- Content Column -->
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Content</th>
            <td mat-cell *matCellDef="let row">{{row.content}}</td>
        </ng-container>

        <!-- Lecturer Name Column -->
        <ng-container matColumnDef="lecturer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Lecturer</th>
            <td mat-cell *matCellDef="let row">{{row.lecturer.name + ' ' + row.lecturer.surname}}</td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="center-text">Info</th>
            <td mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="routeToCourseInfo(row.courseId)" type="submit">Info</button> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
</div>